body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}

#root, html, body {
  width: 100%;
  height: 100%;
  min-width: 960px;
  min-height: 768px;
}

div, main, h1, header {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  /*background: #333;*/
  height: 100%;
  display: grid;
  /*grid-template-columns: repeat(12, 1fr);*/
  /*grid-gap: 20px;*/
  grid-template-areas: "nav head"
                       "nav content";
                       /*"nav footer";*/
  grid-template-columns: 200px 1fr;
}

.Xq-Sidebar {
  /*grid-column: auto / span 2;*/
  background: rgb(43, 48, 62);
  grid-area: nav;
}

.Xq-Sidebar .Xq-Logo {
  background: rgb(230, 69, 96);
}

.Xq-Sidebar .Xq-Logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100px;
}

.Xq-Sidebar .Xq-Menu {
  list-style: none;
  color: rgb(180, 180, 180);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.001vw;
  line-height: 2.3vw;
}


.Xq-Header {
  background: rgb(241, 242, 244);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  grid-area: head;
}

.Xq-Header h1 {
  font-weight: 200;
  padding-left: 20px;
}

.Xq-Playlist {
  /*grid-column: auto / span 10;*/
  grid-area: content;
  padding-left: 20px;
  
}

.Xq-Content {
  
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
